<div class="specific-user-profile">
  <%= render 'users/user/profile_nav' %>
  <container class="container container--list">
    <div class="header" style="justify-content: space-between">
      <%= link_to "Voltar", :back, class:"btn btn--secondary" %>
      <h4> Editar páginas do Álbum </h4>
      <div></div>
    </div>
    <section class="section section--f-start">
      Paginas aqui com cards
    </section>
  </container>
</div>
