<div class="specific-user-profile">
  <%= render 'users/user/profile_nav' %>
  <container class="container container--list">
    <div class="header" style="justify-content: space-between">
      <%= link_to "Voltar", edit_album_pages_path(@album_page.album_id), class:"btn btn--secondary" %>
      <h4> Editar Página </h4>
      <div></div>
    </div>
    <section class="section section--f-start">
      <%= render 'form', album_page: @album_page %>
    </section>
  </container>
</div>
