  <div class="specific-user-profile">
    <%= render 'users/user/profile_nav' %>
    <container class="container container--list">
      <div class="header" style="justify-content: space-between">
        <%= link_to "Voltar", edit_album_pages_path(@album.id), class:"btn btn--secondary" %>
        <h4> Editar figurinhas da Página </h4>
        <div></div>
      </div>
      <%= render"/album_pages/position_stickers", album: @album, album_page: @album_page, stickers: @stickers, delete_btn: true  %>
    </container>
  </div>
