<div class="specific-user-profile">
  <%= render 'users/user/profile_nav' %>
  <section class="section section--f-start">
    <div class="header" style="justify-content: space-between">
      <%= link_to "Voltar", user_album_path(album_id: @album.id), class:"btn btn--secondary" %>
      <div>
      </div>
    </div>
    <div class="album_pages">
      <div class="book-section">
          <div class="container">
            <%= render "page", album: @album %>
          </div>
          <button onclick="turnLeft()">Prev</button> 
          <button onclick="turnRight()">Next</button>
          <br/>
      </div>
    </div>
  </section>
</div>

<%= javascript_include_tag("helpers/flip_effect.js") %>

  
