.effect-shadow-1 {
 -webkit-box-shadow: -2px 2px 22px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 2px 22px -1px rgba(0,0,0,0.75);
  box-shadow: -2px 2px 12px -1px rgba(0,0,0,0.75);
}

.effect-border-1 {
  border: var(--border);
}

.gap-035 {
  gap: 0.35rem;
}

.gap-05{
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.padding-01 {
  padding: 0.1rem;
}

.padding-05 {
  padding: 0.5rem;
}

.padding-1 {
  padding: 1rem;
}

.padding-2 {
  padding: 2rem;
}

.padding-3 {
  padding: 3rem;
}

.border-radius-05 {
  border-radius: 0.5rem;
}

.border-box {
  box-sizing: border-box;
}

.position-relative{
  position: relative;
}
