<div class="sticker__card effect-border-1 padding-01" id="sticker-<%= sticker.id %>" value="<%= sticker.id %>">
  <div class="sticker__card__picture">
    <%= image_tag bucket_url+sticker.picture.path, alt:"Album Image", class:"album__card__picture__img"%>
  </div>
  <p class="sticker__card__code"><%= sticker.code %></p>
</div>
