<div id="<%= dom_id sticker %>">
  <p>
    <strong>Code:</strong>
    <%= sticker.code %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= sticker.description %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= sticker.picture %>
  </p>

</div>
