<div class="sticker__card effect-border-1 padding-01">
  <div class="sticker__card__picture">
    <%= image_tag sticker.picture, alt:"Album Image", class:"album__card__picture__img"%>
  </div>
  <p class="sticker__card_code">
    <strong>Code:</strong>
    <%= sticker.code %>
  </p>

</div>
