<div class="sticker__card">
  <div class="sticker__card__picture">
    <img src="https://i.imgur.com/4ZQZfZy.jpg" alt="Sticker Image" class="sticker__card__picture__img">
  </div>
  <p class="sticker__card_code">
    <strong>Code:</strong>z
    1
  </p>

</div>
