<div class="specific-user-profile">
  <%= render 'users/user/profile_nav' %>
  <section class="section section--f-start">
    <container class="container container--list ">
      <div class="header" style="justify-content: space-between">
        <%= link_to "Voltar", user_album_path, class:"btn btn--secondary" %>
        <h4> Suas novas figurinhas do Álbum: <%= @album.name %> </h4>
      </div>
      <div class="container__cards">
        <% @new_stickers.each do |sticker| %>
          <%= render "stickers/sticker", sticker: sticker %>
        <% end %>
      </div>
    </container>
  </section>
</div>
