.changes-resume__item
  .changes-resume__icon = inline_svg("icons/white-change-icon.svg")
  .changes-resume__description 1 × 1 figurinhas com bazinga@fotoploc.com
  =link_to  inline_svg("icons/arrow-right-circle.svg"), change_detail_path("123"), class: "changes-resume__action"
