<div class="album__card effect-border-1 padding-01">
  <div class="album__card__picture">
    <%= image_tag album.picture, alt:"Album Image", class:"album__card__picture__img"%>
  </div>
  <p class="album__card_code">
    <strong>Name:</strong>
    <%= link_to album.name, user_album_url(album.id), album: album%>
  </p>
</div>
