<div class="album__card effect-border-1 padding-01">
  <div class="album__card__picture">
    <%= link_to user_album_url(album.id) do %>
      <%= image_tag bucket_url+album.picture.path, alt:"Album Image", class:"album__card__picture__img"%>
    <% end %>
  </div>
  <p class="album__card_code">
    <strong>Name:</strong>
    <%= link_to album.name, user_album_url(album.id), album: album%>
  </p>
</div>
