<div class="album__card">
  <div class="album__card__picture">
    <img src="https://i.imgur.com/4ZQZfZy.jpg" alt="Album Image" class="album__card__picture__img">
  </div>
  <p class="album__card_code">
    <strong>Name:</strong>z
    1
  </p>

</div>
