<div class="album__card album__card--big effect-shadow-2 gap-05 padding-05">
  <div class="album__card__picture border-radius-05">
    <%= link_to show_album_pages_path(album_id: @album.id) do %>
      <%= image_tag bucket_url+album.picture.path, alt:"Album Image", class:"album__card__picture album__card__picture__img"%>
    <% end %>
  </div>
  <div class="album__card__infos gap-05">
    <div class="album__card__infos__title border-radius-05 border-box padding-05">
      <%= link_to album.name, show_album_pages_path(album_id: @album.id)%>
    </div>
    <div class="album__card__infos__description border-radius-05 padding-1 position-relative">
      <h5 class="text text-top-left">Descrição:</h5>
      <%= album.description %>
    </div>
  </div>
</div>
