<container class="container container--list">
  <div class="header" style="justify-content: space-between">
    <%= link_to "Back", user_profile_path, class:"btn btn--secondary" %>
    <h4> Albums </h4>
    <div></div>
  </div>
  <div class="album">
    <% @albums.each do |album| %>
      <%= render "albums/album", album: album %>
    <% end %>
  </div>
</container>
