<container class="container container--list effect-shadow-1">
  <div class="header" style="justify-content: space-between">
    <h4> Stickers </h4>
    <%= link_to "See all stickers", user_stickers_path, class: "btn btn--primary" %>
  </div>
  <div class="sticker">
      <%= render "stickers/sticker" %>
  </div>
</container>
