<container class="container container--list effect-shadow-1">
  <div class="header" style="justify-content: space-between">
    <%= link_to "Back", user_profile_path, class:"btn btn--secondary" %>
    <h4> Stickers </h4>
    <div></div>
  </div>
  <div class="sticker">
      <%= render "stickers/sticker" %>
  </div>
</container>