<nav class="nav nav--side">
  <div class="nav__header">
  </div>
  <ul>
    <li class="btn nav__link">
      <%= link_to "Home" %>  
    </li>
    <li class="btn nav__link">
      <%= link_to "Profile" , user_profile_path %>
    </li>
    <li class="btn nav__link">
      <%= link_to "Settings" , edit_user_registration_path %>
    </li>
    <li class="btn nav__link">
      <%= link_to "Sign out" , destroy_user_session_path, method: :delete %>
    </li>
  </ul>
</nav>
