<container class="container container--list effect-shadow-1">
  <h4> Stickers </h4>
  <div class="sticker">
  
  <div>
    <%= render "stickers/sticker" %>
  </div>
  <div>
    <%= render "stickers/sticker" %>
  </div>
  <div>
    <%= render "stickers/sticker" %>
  </div>
  <div>
    <%= render "stickers/sticker" %>
  </div>
</div> 

</container>
