<container class="container container--list effect-shadow-1">
  <div class="header" style="justify-content: space-between">
    <h4> Albums </h4>
    <%= link_to "See all albums", user_albums_path, class: "btn btn--primary" %>
  </div>
  <div class="container__cards">
    <% @albums.each do |album| %>
      <%= render "albums/album", album: album %>
    <% end %>
  </div>
</container>
