<div class="specific-user-profile">
  <%= render 'profile_nav' %>
  <section class="section section--f-start">
    <container class="container container--list" style="
        display: flex;
        flex-direction: column;
        align-items: flex-start;">
        <div class="header" style="justify-content: space-between">
            <%= link_to "Voltar", :back, class:"btn btn--secondary" %>
            <h4>Como funciona?</h4>
            <div></div>
        </div>
        <br/>
        <div>
            <h3>
                Como abrir meu álbum?
            </h3>
            <div>
                <p>
                    Ao acessar a plataforma <strong>Digiploc</strong>
                </p>
                <br/>
                <p>
                    Clique no <strong>ÁLBUM</strong> que aparece no seu perfil, assim  você poderá acessá-lo e ver as figurinhas repetidas que voĉe já tem deste álbum.
                </p>
                <br/>
                <p>
                    Clique mais uma vez no <strong>ÁLBUM</strong> para acessar as páginas do álbum e ver suas figurinhas.
                </p>
            </div>
        </div>
        <br/>
        <br/>
        <div>
            <h3>
                Como colar minhas figurinhas?
            </h3>
            <div>
                <p>
                O botão <strong>ABRIR FIGURINHA</strong> vai mostrar os pacotinhos que você tem disponível.
                </p>
                <br/>
                <p>
                Quando clicar em <strong>ABRIR UM NOVO PACOTE</strong> vão aparecer todas as suas
                novas figurinhas. Elas são automaticamente coladas no lugar certo, e as repetidas vão aparecer fora do álbum (na tela do álbum fechado).
                </p>
            </div>
        </div>
        <br/>
        <br/>
        <div>
            <h3>
                Como trocar figurinhas?
            </h3>
            <div>
                <p>
                    Na tela do álbum fechado, aparece um botão chamado <strong> PARTICIPANTES </strong>.
                    Você busca e seleciona com quem você quer trocar suas figurinhas. 
                </p>
                <br/>
                <p>
                    Ao clicar no participante, serão listadas todas as figurinhas que ele ou ela tem disponíveis para troca e o <strong>SEU ÁLBUM</strong>, caso precise conferir quais faltam ainda para você completar.
                </p>
                <br/>
                <p>
                    Clique em <strong> TROCAR FIGURINHAS </strong> para entrar no ambiente de trocas, e clique <strong> NA FIGURINHA </strong>  que você quer trocar e na do colega. Aperte <strong> PROPOR TROCA </strong> e aguarde o colega autorizar a troca.
                </p>
                <br/>
                <p>
                    Quando a troca for aprovada, as figurinhas irão aparecer automaticamente coladas no seu álbum \o/
                </p>
                <br/>
                <p>
                    Lembre-se sempre de olhar na página <strong>MINHAS TROCAS</strong> para saber se tem alguém querendo trocar figurinhas com você.
                </p>
            </div>
        </div>
        <br/>
        <br/>
    </container>
  </section>
</div>
