<div class="specific-user-profile">
  <%= render 'profile_nav' %>
  <section class="section section--f-start">

    <container class="container container--list effect-shadow-1">
      <h4>User</h4>
      <%= @user.email %>
    </container>

    <container class="container container--list effect-shadow-1">
      Album
    </container>

    <container class="container container--list effect-shadow-1">
      Stickes
    </container>

  </section>
</div>
