.album{
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  &__card {
    padding: 0.5rem;
    border-radius:  var(--border-radius);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    height: 21rem;
    width: 15rem;
    display:flex;
    flex-direction: column;
    &--big {
      flex-direction: row;
      justify-content: center;
      padding-top: 20px;
      align-content: center;
      padding-bottom: 20px;
      max-width: 55rem;
      width: 100%;
      @media(min-width: 768px){
        height: 35rem;
      }

    }
    &__title {
      color:  var(--azul);
      text-align: center;
      padding: 0.35rem 0;
    }
    &__picture{
      background-color: var(--color-grey-light);
      display: block;
      overflow: hidden;
      min-height: 8rem;
      height: 100%;
      aspect-ratio: 5.5/6.8;
      &__img{
        object-fit: contain;
        //height: -webkit-fill-available;
      }
    }
    &__infos{
      display: flex;
      flex-direction: column;
      width: 40%;
      height: 100%;
      &__title{
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-bold);
        color: var(--color-grey-dark);
        background-color: var(--color-primary-light);
        color: var(--color-white);
        display: flex;
        justify-content: center;
      }
      &__description{
        font-size: var(--font-size-s);
        color: var(--color-gray-dark);
        height:100%;
      }

    }
  }
}
