.btn {
  display: inline-block;
  padding: var(--space-xxs) var(--space-m);
  background-origin: border-box; // Invisible borders with linear gradients
  background-color: transparent;
  border: solid 2px transparent;
  font-weight: var(--font-weight-normal);
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: filter 400ms, color 200ms;
  border-radius: 40px;
  
  &:disabled {
    cursor: not-allowed;
    filter: grayscale(100%);
  }

  &--primary {
    color: var(--color-white);
    background-color: var(--color-primary-light);
    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      filter: brightness(1.2);
    }
  }

  &--secondary {
    color: var(--color-white);
    background-color: var(--color-secondary-light);
    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      filter: brightness(1.1);
    }
  }

  &--nav {
    color: var(--color-black);
    padding: 0;
    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      filter: brightness(1.1);
    }

    &--active {
      color: var(--color-primary-light);
      font-weight: var(--font-weight-bold);
      border-bottom: solid 2px var(--color-primary-light);
    }
  }

}
