.container {
  width: 100%;
  
  &--list {
    padding: var(--space-l);
    border-radius: var(--border-radius);
  }

  &--card {
    max-width: 400px;
  }

  &--xs {
    max-width: 25rem;
  }
  &--s {
    max-width: 37.5rem;
  }

  &--m {
    max-width: 50rem;
  }

  &--l {
    max-width: 62.5rem;
  }

  &--xl {
    max-width: 75rem;
  }

  &--xxl {
    max-width: 87.5rem;
  }

}
