.nav {
  &--side {
    width: 8rem;
    background-color: var(--color-primary);
    color: var(--color-text-light);
  }
}

.nav__header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 100%;
  background-color: var(--color-primary-light);
}

.nav__link {
  height: 2rem;
  width: 100%;
  color: var(--color-text-light);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--color-primary-light);
  }
}
