.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  &--side {
    width: 20rem;
    color: var(--color-text-light);
  }

  hr {
    height:1px;
    border-width:0;
    color: var(--cinza-azulado);
    background-color: var(--cinza-azulado);
    margin: 3rem 0;
  }

  button {
    background-color: transparent;
    border: none;
    color: var(--lilas);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      color: var(--roxo-escuro);
    }
  }
}

.nav__header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  width: 100%;
}

.nav__link {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 2rem;
  width: 100%;
  color: var(--lilas);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin: 1rem 0;


  font-size: var(--font-size-m);
  font-weight: 600;

  svg {
    height: 1.5rem;
    width: 1.5rem;
    path {
      transition: all 0.3s ease-in-out;
    }
  }

  &:hover {
    color: var(--roxo-escuro);

    &.svg_fill {
      svg {
        path {
          fill: var(--roxo-escuro)
        }
      }
    }

    svg {
      path {
        stroke: var(--roxo-escuro);
      }
    }
  }
}
