.page_stickers{

    &__container {
     position: relative;
     display: flex;
     height: inherit;
    }

    &__card {
        position: absolute;
        width: 26.3%;
        height: 20%;
        display: flex;
        aspect-ratio: 5.5/6.8;

        &__code {
            text-align: center;
        }
    }

}
