.section {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  margin-bottom: var(--space-m);
  align-items: center;
  justify-content: center;
  padding: var(--space-xs);
  background-color: var(--color-background);
  
  @media (min-width: 768px) {
    height: 100%;
  }
}
