.sticker{
  &__card {
    border-radius:  var(--border-radius);
    width: 10rem;
    height: 12rem;
    &__picture{
      border-top-left-radius:  var(--border-radius);
      border-top-right-radius:  var(--border-radius);
      background-color: var(--color-grey-light);
      display: block;
      overflow: hidden;
      aspect-ratio: 5.5/6.8;
      &__img{
        object-fit: contain;
      }
    }
    &__code {
      text-align: center;
    }
  }

}

